# Config file
config.py

# Data and output folders
data/
output/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Mac / Windows junk
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/